@model IEnumerable<ThAmCo.Events.Models.StaffViewModels.EmployeeVM>

<h3>All Staff</h3>

<p>
    <a asp-action="CreateEmployee">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="EditEmployee" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="EmployeeDetails" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="DeleteEmployee" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

